<mat-toolbar>
  <mat-toolbar-row
    class="white-line"
    fxLayout="row"
    fxLayoutAlign="end center">
    <div [appTooltip]="' items in the basket'">
      <button mat-flat-button>
        <mat-icon>home</mat-icon>
        Home</button>
      <button mat-flat-button>About us</button>
      <button mat-flat-button>Careers</button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="white-line"
                   fxLayoutAlign="end center">
    <div>
      <button mat-flat-button>
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="!deviceXs">Cart {{count.counter}}</span>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
    <button mat-button [matMenuTriggerFor]="menu">{{category.category[0]}}
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu">{{category.category[1]}}
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu">{{category.category[2]}}
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu">{{category.category[3]}}
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu">{{category.category[4]}}
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

