<mat-toolbar>
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div>
      <button mat-button>
        <mat-icon>home</mat-icon>
        Home</button>
      <button mat-button>Button2</button>
      <button mat-button>Button3</button>
    </div>
    <div>
      <button mat-button>
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="!deviceXs">Cart</span>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="deviceXs">
    <span>Custom Toolbar2</span>
  </mat-toolbar-row>
</mat-toolbar>

