<div class="container div__content__margin footer__padding" fxLayout="row" fxLayoutAlign="space-between">
  <div class="col-md-2">
    <p class="div__text__bold">Get in touch</p>
    <p class="div__text__green">About Us</p>
    <p class="div__text__green">Careers</p>
    <p class="div__text__green">Press Releases</p>
    <p class="div__text__green">Blog</p>
  </div>
  <div class="col-md-2">
    <p class="div__text__bold">Connections</p>
    <p class="div__text__green">Facebook</p>
    <p class="div__text__green">Twitter</p>
    <p class="div__text__green">Instagram</p>
    <p class="div__text__green">YouTube</p>
    <p class="div__text__green">LinkedIn</p>
  </div>
  <div class="col-md-2">
    <p class="div__text__bold">Earnings</p>
    <p class="div__text__green">Become an Affiliate</p>
    <p class="div__text__green">Advertise your product</p>
    <p class="div__text__green">Sell on Market</p>
  </div>
  <div class="col-md-2">
    <p class="div__text__bold">Account</p>
    <p class="div__text__green">Your account</p>
    <p class="div__text__green">Return Centre</p>
    <p class="div__text__green">100% purchase protection</p>
    <p class="div__text__green">Chat with us</p>
    <p class="div__text__green">Help</p>
  </div>
</div>
<div class="container footer__padding">
    <p class="div__text__bold col-md-12">Product tags</p>
    <div class="col-md-12">
      <div class="footer__tag" *ngFor="let t of tags">{{t}}</div>
    </div>
</div>
<div class="container footer__padding">
  <span class="col-md-12">Copyright © 2021 petrbilek.com</span>
</div>

