<div class="container footer-marg marg" fxLayout="row" fxLayoutAlign="space-between">
  <div class="col-md-2">
    <p class="black-bold-text">Get in touch</p>
    <p class="green-text">About Us</p>
    <p class="green-text">Careers</p>
    <p class="green-text">Press Releases</p>
    <p class="green-text">Blog</p>
  </div>
  <div class="col-md-2">
    <p class="black-bold-text">Connections</p>
    <p class="green-text">Facebook</p>
    <p class="green-text">Twitter</p>
    <p class="green-text">Instagram</p>
    <p class="green-text">YouTube</p>
    <p class="green-text">LinkedIn</p>
  </div>
  <div class="col-md-2">
    <p class="black-bold-text">Earnings</p>
    <p class="green-text">Become an Affiliate</p>
    <p class="green-text">Advertise your product</p>
    <p class="green-text">Sell on Market</p>
  </div>
  <div class="col-md-2">
    <p class="black-bold-text">Account</p>
    <p class="green-text">Your account</p>
    <p class="green-text">Return Centre</p>
    <p class="green-text">100% purchase protection</p>
    <p class="green-text">Chat with us</p>
    <p class="green-text">Help</p>
  </div>
</div>
<div class="container footer-marg">
    <p class="black-bold-text col-md-12">Product tags</p>
    <div class="col-md-12">
      <div class="footer-tag" *ngFor="let t of tags">{{t}}</div>
    </div>


</div>
<div class="container footer-marg">
  <span class="col-md-12">Copyright © 2021 petrbilek.com</span>
</div>

