<div class="container div__content__margin" fxLayout="row">
  <div class="col-md-2 offset-8
  div__cart__title" fxLayoutAlign=" center">
  Shopping cart
  </div>
  <div class="col-md-1 offset-1 div__content__pointer" [routerLink]="['/home']"
  fxLayout="row" fxLayoutAlign=" center">
    Close
    <mat-icon>close</mat-icon>
  </div>
</div>

<div *ngFor="let item of cart">
<div class="container div__content__margin" fxLayout="row">
<div class="col-md-1 offset-8 div__content__margin-right">
  <img class="div__cart__image" src="{{item.imageUrl}}" alt="">
</div>
<div class="col-md div__text__bold">{{item.title}}
<div fxLayout="row">

  <div class="div__text__simple">Author:    <br>Year:    </div>
  <div class="div__text__simple">{{item.author}}<br>{{item.year}}</div>
</div>
</div>
</div>

<div class="container col-md-1 offset-8" fxLayout="row">
<mat-icon inline="true">star</mat-icon>
<mat-icon inline="true">star</mat-icon>
<mat-icon inline="true">star</mat-icon>
<mat-icon inline="true">star_half</mat-icon>
<mat-icon inline="true">star_border</mat-icon>
</div>

<div class="container col-md-1 offset-8 div__text__price" fxLayout="row">
{{item.price.toFixed(2)}} USD
  </div>

<div class="container div__content__margin">
  <div class="col-md-4 offset-8 line"></div>
</div>
</div>




<div class="container div__content__margin">
  <div class="col-md-4 offset-8">
  <div div class="div__text__bold">Subtotal</div>
<div class="div__text__bold">{{cost.toFixed(2)}} USD</div>
</div>
</div>

<div class="container div__content__margin">
  <div class="col-md-4 offset-8 line1"></div>
</div>

<div class="container div__content__margin">
  <div class="col-md-4 offset-8" fxLayout="row"
  fxLayoutAlign="space-between center">
    <div class="div__text__bold div__content__pointer" [routerLink]="['/home']">Continue shopping</div>
    <button class="div__buybutton">Go to checkout</button>
</div>
