<mat-toolbar class="container white-line">
  <mat-toolbar-row>
    <div class="col-md adress">Homepage / category / {{item.id}}</div>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" class="container">
<div class="col-md-6">

    <img src="{{item.imageUrl}}" alt="">

  </div>
  <div class="col-md-6">
    <h1 align="center">{{item.title}}</h1>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star_half</mat-icon>
    <mat-icon>star_border</mat-icon>
    1 customer review
    <p></p>
    <p>
      Carrots from Tomissy Farm are one of the best on the market.
      Tomisso and his family are giving a full love to his Bio products.
      Tomisso’s carrots are growing on the fields naturally.
    </p>


  <div fxLayout="row">
    <div fxLayout="column" class="col-md-2">
      <span>SKU</span>
      <span>author</span>
      <span>year</span>
      <span>country</span>
    </div>
    <div fxLayout="column" class="col-md-2 offset-1">
      <span>123123{{item.id}}</span>
      <span class="nowrap">{{item.author}}</span>
      <span>{{item.year}}</span>
      <span>Ukraine</span>
    </div>
    <div fxLayout="column" class="col-md-2 offset-1">
      <span>Rating</span>
      <span>Sells</span>
      <span>Popular</span>
      <span>Null</span>
    </div>
    <div fxLayout="column" class="col-md-2 offset-1">
      <span>{{item.rating}}</span>
      <span>{{item.sells}}</span>
      <span>{{item.popular}}</span>
      <span>Null</span>
    </div>
  </div>

<div>
  <div>
    <div class="marg" fxLayout="row">
      <div class="black-bold-text col-md-4 offset-2">{{item.price}} USD</div>
      <button mat-raised-button class="buybutton col-md-4 offset-2">Buy now</button>
    </div>
  </div>

</div>

<div *ngIf="rev !== undefined">
  <p>Reviews:</p>
  <p>Name: {{rev.name}}</p>
  <p>Score: {{rev.score}}</p>
  <p>Comment: {{rev.comment}}</p>
</div>

<app-form></app-form>


  </div>
  </div>
