<mat-toolbar class="container white-line">
  <mat-toolbar-row>
    <div class="col-md adress">Homepage / category / item</div>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" class="container">
<div class="col-md-6">

    <img src="https://struchaieva.art/media/artworks/previews/Soul-of-Azori-I-150_100-cm_Al9Axr5.jpeg" alt="">

  </div>
  <div class="col-md-6">
    <h1 align="center">Titles of paints</h1>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star_half</mat-icon>
    <mat-icon>star_border</mat-icon>
    1 customer review
    <p></p>
    <p>
      Carrots from Tomissy Farm are one of the best on the market.
      Tomisso and his family are giving a full love to his Bio products.
      Tomisso’s carrots are growing on the fields naturally.
    </p>


  <div fxLayout="row">
    <div fxLayout="column" class="col-md-2">
      <span>SKU</span>
      <span>author</span>
      <span>year</span>
      <span>country</span>
    </div>
    <div fxLayout="column" class="col-md-2 offset-1">
      <span>looks_5</span>
      <span>looks_6</span>
      <span>looks_7</span>
      <span>looks_8</span>
    </div>
    <div fxLayout="column" class="col-md-2 offset-1">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
    </div>
    <div fxLayout="column" class="col-md-2 offset-1">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
    </div>
  </div>


<div>
  <div>
    <div fxLayout="row">
      <div class="black-bold-text col-md-4 offset-2">paint.price USD</div>
      <button mat-raised-button class="buybutton col-md-4 offset-2">Buy now</button>
    </div>
  </div>

</div>


  </div>
  </div>

