.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;

  position: static;
  width: 1260px;
  height: 178px;
  left: 0;
  top: 0;
  background: #FFFFFF;
}

.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 3px 8px;
  background: cadetblue;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
}
.ng-tooltip:after {
  content: none;
  position: absolute;
  border-style: solid;
}

.ng-tooltip-show {
  opacity: 1;
}
