
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;

  position: static;
  width: 1260px;
  height: 178px;
  left: 0;
  top: 0;
  background: #FFFFFF;
}

.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 3px 8px;
  background: cadetblue;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
}
.ng-tooltip:after {
  content: none;
  position: absolute;
  border-style: solid;
}

.ng-tooltip-show {
  opacity: 1;
}


.green-underline {
  /* Chat with us */

  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-decoration-line: underline;
  margin-top: 10px;

  /* C2/A */

  color: #6A983C;
}

.black-bold-text {
  /* Button/Default */

font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
/* identical to box height */


/* C1/A */

color: #151515;
}


.marg {
  margin-top: 100px;
}
