<app-header [deviceXs]="deviceXs"></app-header>
<h1 class="mat-typography h1" align="center" tooltip='Bestsellers' delay="500">Bestsellers</h1>

<div fxLayout="row" fxLayoutAlign="space-evenly start">
  <app-paint
    *ngFor="let p of interBest"
  [paint]="p">
  </app-paint>
</div>

<h1 class="mat-typography h1" align="center" tooltip='Top Ranking' delay="500">Top Ranking</h1>
<div fxLayout="row" fxLayoutAlign="space-evenly start">
  <app-paint
    *ngFor="let p of topPaints"
    [paint]="p">
  </app-paint>
</div>

<h1 class="mat-typography h1" align="center" tooltip='Most Popular' delay="500">Most Popular</h1>
<div fxLayout="row" fxLayoutAlign="space-evenly start">
  <app-paint
    *ngFor="let p of mostPaints"
    [paint]="p">
  </app-paint>
</div>
