<app-header [deviceXs]="deviceXs"></app-header>

<div class="container" fxLayoutAlign="start center">
  <form class="example-form">
    <mat-form-field class="example-full-width"  fxFlexOffset="5">
      <mat-label>Phone number</mat-label>
      <input (keyup.enter)="onInput($event)"
             matInput placeholder="+380 (XX) XXX-XX-XX">
    </mat-form-field>
  </form>
  <span fxFlexOffset="5">{{inputPhone | phonePipe}}</span>
</div>

<div class="container">
<div fxLayout="row" fxLayoutAlign="space-evenly stretch">
  <div class="col-md-3 black-bold-text">
    Bestsellerts
    <div class="green-underline" *ngFor="let p of cat">{{p}}
    </div>
  </div>
  <app-paint class="col-md"
    *ngFor="let p of interBest"
  [paint]="p">
  </app-paint>
</div>
</div>

<div class="container marg" fxLayout="row">
  <div class="col-md-2 black-bold-text">
    Top ranking paints
    <div class="green-underline" *ngFor="let p of cat">{{p}}
    </div>
  </div>
<div class="col-md" fxLayout="row">
  <app-paint
    *ngFor="let p of topPaints"
    [paint]="p">
  </app-paint>
</div>
</div>

<div class="container marg" fxLayout="row">
  <div class="col-md-2 black-bold-text">
    Most popular paints
    <div class="green-underline" *ngFor="let p of cat">{{p}}
    </div>
  </div>
<div class="col-md" fxLayout="row">
  <app-paint
    *ngFor="let p of mostPaints"
    [paint]="p">
  </app-paint>
</div>
</div>

<div class="container marg"  fxLayout="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <app-form></app-form>

<div *ngFor="let p of review">
  <p>Name:"{{p.name}}"</p>
  <p>Comment:"{{p.comment}}"</p>
  <br>
</div>

  </div>
  <div class="col-md-5"></div>
</div>



