. rect {
  /* Rectangle 26 */
  max-height: 180px;
  max-width: 237px;
  left: 0px;
  top: 0px;
  border-radius: 12px;

  position: absolute;

}

.title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #151515;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0;
}
.text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #575757;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 4px 0;
}

.form {
  background: #FFFFFF;
  height: 280px;
  width: 150px;

  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
}

.paint {
  max-height: 60%;
  max-width: 80%;
  margin: 12px;
  border-radius: 12px;

}

.hide {
  visibility: hidden;
  height: 0;
  width: 0;
}

.buybutton {
  background: #6A983C;

  border: 2px solid #46760A;
  box-sizing: border-box;
  border-radius: 12px;
  height: 35px;
  align-items: center;
  padding-left: 0;
  padding-right: 0;

  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: white;
}

.black-bold-text {
  /* Button/Default */

font-family: Poppins, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
/* identical to box height */


/* C1/A */

color: #151515;
}

.bottom {
  position: absolute;
	bottom: 10px;
  margin: 10px;
}
