.adress {
/* Caption/Default */

font-family: Open Sans, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;

/* C1/C */

color: #A9A9A9;
}


.white-line {
  background-color: white;
  padding: 1rem 0;
    &-bold {
      height: 130px;
    }
}

.gray-line {
  height: 55px;
}

.green-text {
  /* Chat with us */

  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;

  /* C2/A */
  color: #6A983C;

  &-underline {
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    }
}

.black-text {/* +420 336 775 664 */

  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  /* C1/A */
  color: #151515;
}

.gray-line {
  background-color: #F9F9F9;
  padding: 1rem 0;
}

.search-form {
  height: 42px;
  background: #F9F9F9;
/* C1/D */

border: 1px solid #D1D1D1;
box-sizing: border-box;
border-radius: 12px;
}


.black-bold-text {
  /* Button/Default */

font-family: Poppins, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
/* identical to box height */
white-space: nowrap;


/* C1/A */

color: #151515;
}

.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 3px 8px;
  background: cadetblue;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
}
.ng-tooltip:after {
  content: none;
  position: absolute;
  border-style: solid;
}

.ng-tooltip-show {
  opacity: 1;
}

.inline {
  display: inline-block;
}

input, textarea {
  outline: none;
  border: none;
  border: solid 1px #F9F9F9;
  background-color:  #F9F9F9;
  }

.footer-marg {
  padding-bottom: 2rem;
}

.footer-tag {

  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  /* C1/A */

  color: #151515;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;



  /* C1/F */
  display: inline-block;
  background: #F5F5F5;
  border-radius: 12px;
  white-space: nowrap;
  text-align: center;
  height: 1.6rem;
  line-height: 1.6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 1.25rem;
  margin-top: 0.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;

  position: static;
  width: 1260px;
  height: 178px;
  left: 0;
  top: 0;
  background: #FFFFFF;
}

.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 3px 8px;
  background: cadetblue;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
}
.ng-tooltip:after {
  content: none;
  position: absolute;
  border-style: solid;
}

.ng-tooltip-show {
  opacity: 1;
}


.green-underline {
  /* Chat with us */

  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-decoration-line: underline;
  margin-top: 10px;

  /* C2/A */

  color: #6A983C;
}


.black-bold-text {
  /* Button/Default */

font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
/* identical to box height */


/* C1/A */

color: #151515;
}


.marg {
  margin-top: 3rem;
}

.nowrap {
  white-space: nowrap;
}


.line {
/* C1/D */
border-left: 1px solid #D1D1D1;
height: 22px;
}

.line1 {
  /* C1/D */
  border-top: 1px solid #D1D1D1;
  }


  .rect {
    /* Rectangle 26 */
    max-height: 180px;
    max-width: 237px;
    left: 0px;
    top: 0px;
    border-radius: 12px;

    position: absolute;

  }

  .title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;

    color: #151515;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0;
  }

  .text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #575757;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0;
  }

  .form {
    background: #FFFFFF;
    width: 269px;
    height: 323px;

    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
  }

  .paint {
    width: 237px;
    height: 180px;
    border-radius: 12px;

  }

  .hide {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .buybutton {

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
    background: #6A983C;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;

    width: 90px;
    height: 36px;
    right: 0px;
    bottom: 0px;
    margin-right: 1rem;


    /* C2/A */

    background: #6A983C;
    /* C2/B */

    border: 2px solid #46760A;
    box-sizing: border-box;
    border-radius: 12px;


  }

  .black-bold-text {
    /* Button/Default */

  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */


  /* C1/A */

  color: #151515;
  }

  .bottom {
    position: absolute;
    bottom: 10px;
  }


  li.active a {
    font-weight: bold;
    color: #333333;
    cursor: default;
  }


.shopping-cart {
  font-family: Poppins, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 39px;
/* identical to box height */


/* C1/A */
white-space: nowrap;
color: #151515;
}

.cart-image {
  height: 67px;
  width: 100px;
  border-radius: 12px;
}

.marg-right {
  margin-right: 1rem;
}

.icon {
  font-size: 16px;
}

.price {
  font-family: Poppins, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */


/* C2/A */

color: #6A983C;
}
