.div {
  &__content {

    &__margin {
      margin-top: 3rem;
    }

    &__margin-right {
      margin-right: 2rem;
    }

    &__pointer {
      transition: all 0.2s;
      &:hover {
        cursor: pointer;
      }
    }

    &__inline {
      display: inline-block;
    }

    &__hide {
      visibility: hidden;
      height: 0;
      width: 0;
    }

    &__bottom {
      position: absolute;
      bottom: 10px;
    }

    &__nowrap {
      white-space: nowrap;
    }

  }
  &__text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;

    &__title {
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
      color: #151515;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 4px 0;
    }

    &__simple {
      font-family: Open Sans, sans-serif;
      font-size: 12px;
      line-height: 16px;
      color: #151515;
    }

    &__bold {
      font-family: Poppins, sans-serif;
      font-weight: bold;
      font-size: 15px;
      line-height: 22px;
    }

    &__gray {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #A9A9A9;
    }

    &__green {
      font-family: Open Sans, sans-serif;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #6A983C;
    }

    &__green-underline {
      font-family: Open Sans, sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #6A983C;
      text-decoration-line: underline;
      margin-top: 10px;
    }

    &__price {
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #6A983C;
    }
  }

  &__cart {
    &__title {
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 39px;
      white-space: nowrap;
      color: #151515;
    }

    &__image {
      height: 67px;
      width: 100px;
      border-radius: 12px;
    }
  }

  &__buybutton {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
    background: #6A983C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 90px;
    height: 36px;
    right: 0px;
    bottom: 0px;
    margin-right: 1rem;
    align-content: center;
    border: 2px solid #46760A;
    box-sizing: border-box;
    border-radius: 12px;
  }

  &__paint {
    width: 237px;
    height: 180px;
    border-radius: 12px;
  }
}

.footer {

  &__padding {
    padding-bottom: 2rem;
  }

  &__tag {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: inline-block;
    background: #F5F5F5;
    border-radius: 12px;
    white-space: nowrap;
    text-align: center;
    height: 1.6rem;
    line-height: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 1.25rem;
    margin-top: 0.5rem;
  }
}


.header {
display: flex;
flex-direction: column;
align-items: center;
padding: 0 80px;
position: static;
width: 1260px;
height: 178px;
left: 0;
top: 0;
background: #FFFFFF;
}

.line {

  border-top: 1px solid #D1D1D1;

  &__gray {
    height: 55px;
  }

  &__white {
    background-color: white;
    padding: 1rem 0;
  }

  &__white-bold {
    background-color: white;
    padding: 1rem 0;
    height: 130px;
  }

}

.item {
  &__image {
    width: 500px;
  }
}

.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 3px 8px;
  background: cadetblue;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;

    &__show {
      opacity: 1;
    }

    &:after {
      content: none;
      position: absolute;
      border-style: solid;
    }
}

.box {
  &__bordered {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 12px;
    height: 60px;
  }
}

.rect {
  max-height: 180px;
  max-width: 237px;
  left: 0px;
  top: 0px;
  border-radius: 12px;
  position: absolute;
  }

.form {
  background: #FFFFFF;
  width: 269px;
  height: 323px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
}

.icon {
  font-size: 16px;
}

.search-form {
  height: 42px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
}

input, textarea {
  outline: none;
  border: none;
  border: solid 1px #F9F9F9;
  background-color:  #F9F9F9;
  }

li.active a {
  font-weight: bold;
  color: #333333;
  cursor: default;
}
