
  <div class="container div__content__margin" fxLayout="row" fxLayoutAlign="space-between start">
    <div class="col-md-3 div__text__bold">
      Bestsellerts
      <div class="div__text__green-underline div__content__pointer"
      *ngFor="let p of cat"
      [routerLink]="['/',p]">{{p}}
      </div>
    </div>
    <app-paint class="col-md"
      *ngFor="let p of interBest"
    [paint]="p">
    </app-paint>
  </div>

  <div class="container div__content__margin" fxLayout="row" fxLayoutAlign="space-between start">
    <div class="col-md-3 div__text__bold">
      Top ranking paints
      <div class="div__text__green-underline div__content__pointer"
      *ngFor="let p of cat"
      [routerLink]="['/',p]">{{p}}
      </div>
    </div>
    <app-paint class="col-md"
      *ngFor="let p of topPaints"
      [paint]="p">
    </app-paint>
  </div>

  <div class="container div__content__margin" fxLayout="row" fxLayoutAlign="space-between start">
    <div class="col-md-3 div__text__bold">
      Most popular paints
      <div class="div__text__green-underline div__content__pointer"
      *ngFor="let p of cat"
      [routerLink]="['/',p]">{{p}}
      </div>
    </div>
    <app-paint class="col-md"
      *ngFor="let p of mostPaints"
      [paint]="p">
    </app-paint>
  </div>
